.DecorationItem {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px;

  background-color: #e3e7ea;
  border:2px solid #e3e7ea;
}

.DecorationItem:hover {
  border-color: #1285d0;
}

.DecorationItem.selected {
  background-color: #9eaab6;
  border-color: #1285d0;
}
