.CategoryItem {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px;

  background-color: #e3e7ea;
  border:2px solid #e3e7ea;
  text-align: center;
}

.CategoryItem:hover {
  background-color: #9eaab6;
  border-color: #1285d0;
}

.CategoryItem.selected {
  background-color: #9eaab6;
  border-color: #1285d0;
}

.preview-img {
  height: 100%;
}

p {
  margin: 5px;
}
