.CategoryItem {
  width: 150px;
  margin: 5px;
  border-radius: 8px;

  background-color: #00A7CF;
}

.CategoryItem:hover {
  background-color: rgb(0, 120, 149);
}

.selected {
  background-color: rgb(0, 120, 149);
}
